{% extends 'home_base.html' %}

{% block header %}
    <link rel="stylesheet" href="{{url_for('features.static', filename='expenses_style.css')}}"> 
{% endblock %}

{% block expenses_content  %}

<!-- Holds Charts and analysis of expenses -->
<div id="expenses_portfolio"></div>

<div class="expense_actions_div">

    <button class="create_expense_button" onclick="toggle_expense_creation()">
        <img src="{{ url_for('features.static', filename='add_icon.png') }}" alt="create">
    </button>

    <form class="filter_form" method="POST">
        <input type="date" name="start_date" required>
        <input type="date" name="end_date" required>

        <input type="submit" value="Filter">
    </form>
    
    <button id="clear_filter_button" onclick="window.location.href='{{ url_for('features.expenses') }}';">
        Clear Filter
    </button>
</div>

<div class="create_div">

    <form class="create_form" action="{{ url_for('features.create') }}" method="POST">
        <input type="text" name="description" placeholder="description">

        <input id="amount" type="number" name="amount" min="0.01" step="0.01" placeholder="Amount ($)">
        <input type="date" name="date" placeholder="date">
        
        <div class="create_actions">
            <button id="create_cancel" type="button" onclick="toggle_expense_creation()">Cancel</button>
            <input id="create_submit" type="submit" value="Create">
        </div>
    </form>

</div>
<div id="expenses_container">

    <table class="expenses_table">

        <tr>
            {% for table_header in table_headers %}
                <th>{{ table_header }}</th>
            {% endfor %}
        </tr>
        
        {% for expense in expenses %}

            <tr class="expense_row">
                <!-- Maintain order for toggle_edit -->
                <td spellcheck="false">{{ expense.description }}</td>
                <td spellcheck="false">{{ expense.amount }}</td>
                <td spellcheck="false">{{ expense.date}}</td>
                <!-- Order doesn't matter now -->

                <td>
                    <button class="toggle_edit_button" onclick="toggle_edit(this)">
                        Edit
                    </button>
                </td>

                <td>
                    <form action="{{ url_for('features.delete') }}" method="POST">
                        <input type="hidden" name="expense_id" value="{{ expense.id }}">
                        <button class="expense_delete_button" onclick="handle_expense_delete_button()">
                            <img src="{{ url_for('features.static', filename='delete_icon.png') }}" alt="Delete">
                        </button>
                    </form>
                </td>
            </tr>
        
        <script>
            function toggle_edit(button) {
                const row = button.closest(".expense_row");
                const cells = row.querySelectorAll("td"); 
                
                for (i=0;i<=2;i++) {
        
                    if (cells[i].getAttribute("contenteditable") === "true") {
                        row.style.color = "#a8acaf"
                        cells[i].setAttribute("contenteditable", "false")
                    } else {

                        // Temporary color: Later toggle css class on click 
                        row.style.color = "red"
                        cells[i].setAttribute("contenteditable", "true")

                    }

                };


            }

        </script>
        {% endfor %}

    </table>
</div>

<script>
    function toggle_expense_creation() {
        const expense_div = document.querySelector('.create_div');
        
        if (getComputedStyle(expense_div).display === 'none') {
            expense_div.style.display = 'flex'
        }
        else {
            expense_div.style.display = 'none'
        }
    };
</script>

{% endblock %}

