<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{url_for('home.static', filename='base_style.css')}}">
        {% block header %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"></script>

    </head>

    <header>
        <nav class="navbar">
            <ul>
                <li><a href="{{url_for('features.expenses')}}">Expenses</a></li>
                <li><a href="{{url_for('home.dashboard')}}">Dashboard</a></li>
            </ul>
        </nav>
    </header>

    <body>
        
        <section id="expenses_section">
            {% block expenses_content %}{% endblock %}
        </section>
        
        <section id="dashboard_section">
            {% block dashboard_content %}{% endblock %}
        </section>

    </body>
</html>
